<script>
    function reset(){
        request = new XMLHttpRequest();
        request.onreadystatechange = function(){
        var new_ip = request.responseText;
        document.getElementById('ip').value = new_ip;
        var aux = document.createElement("input");
        aux.setAttribute("value", new_ip);
        document.body.appendChild(aux);
        aux.select();
        document.execCommand("copy");
        document.body.removeChild(aux);
        }
        var url='reset1'
        request.open('GET',url,true);
        request.send(null);
        document.getElementById('button').disabled=true;
        alert('新IP已复制到剪切板')
    }
</script>
<body>
    <p>Current:</p>
    <p id="ip">{{ ip }}</p>
    <button id='button' type="button" onclick="reset()">RESET</button>
</body>
