<script>
    function reset(){
        request = new XMLHttpRequest();
        request.onreadystatechange = function(){
        var new_ip = request.responseText;
        document.getElementById('button').disabled=true;
        var old_ip = document.getElementById('ip');
        old_ip.value = new_ip;
        }
        var url='reset'
        request.open('GET',url,true);
        request.send(null);
        alert('Test')
    }
</script>
<body>
    <p>Current:</p>
    <p id="ip">{{ ip }}</p>
    <button id='button' type="button" onclick="reset()">RESET</button>
</body>
