<script>
    function copy_ip_to_clipboard(){
    var ip = document.getElementById('ip').innerHTML;
    var aux = document.createElement("input");
    aux.setAttribute("value", ip);
    document.body.appendChild(aux);
    aux.select();
    document.execCommand("copy");
    document.body.removeChild(aux);
    alert('IP已复制到剪切板');
}
    window.onload = copy_ip_to_clipboard;
</script>
<body>
    <p style="text-align: center;">Current:</p>
    <p style="text-align: center;" id="ip">{{ ip }}</p>
    <p style="text-align: center;">
        <a href='/resetip'><button id='button' type="button">RESET IP</button></a>
    </p>
</body>
